


.pa-banner {
    padding: 200px 0px 185px;
    background-image: url("/images/banner.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.pa-banner-text {
    animation: slideInFromRight 3s;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: slideInFromRight;
    font-family: 'Tiro Devanagari Hindi', serif;
}

.pa-banner-text h4 {
    position: relative;
    padding-left: 30px;
    margin-bottom: 25px;
    font-size: 22px;
    z-index: 1;
    color: #fff;
    letter-spacing: 1px;

}
.pa-banner-text h2 {
    font-size: 50px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.pa-banner-text p {
    margin-bottom: 30px;
    font-size: 40px;
}

@media screen and (max-width: 600px) {
    .pa-banner-text{
        background-color: rgb(171 212 213 / 36%);
    }
  }