/* section {
    padding: 82px 0;
    min-height: 100vh;
} */
.contact-info {
/* display: flex; */
width: 100%;
text-align: center;
margin-bottom: 10px;
}
.contact-info-icon {
margin-bottom: 15px;
}
.contact-info-item {
background: #6CAAA8;
padding: 30px 0px;
}
.contact-page-sec {
    /* margin-left: 57px; */
    padding: 60px;
    min-height: 100vh;
    margin-top: 12px;
}
.contact-page-sec .contact-page-form h2 {
color: #6CAAA8;
text-transform: capitalize;
font-size: 22px;
font-weight: 700;
}
.contact-page-form .col-md-6.col-sm-6.col-xs-12 {
padding-left: 0;
}  
.contact-page-form.contact-form input {
margin-bottom: 5px;
}  
.contact-page-form.contact-form textarea {
height: 110px;
}
.contact-page-form.contact-form input[type="submit"] {
background: #6CAAA8;
width: 150px;
border-color: #6CAAA8;
}
.contact-info-icon i {
font-size: 48px;
color: #dcf1fa;
}
.contact-info-text p{
    margin-bottom:0px;
}

.contact-info-text h2 {
color: #fff;
font-size: 22px;
text-transform: capitalize;
font-weight: 600;
margin-bottom: 10px;
}
.contact-info-text span {
color: #fff;
font-size: 20px;
/* font-weight: ; */
display: inline-block;
width: 100%;
}

.contact-page-form input {
    background: #fdf7f7 none repeat scroll 0 0;
    border: 1px solid #e1d8d891;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 100%;
    border-radius: 4px;
}

.contact-page-form .message-input {
display: inline-block;
width: 100%;
padding-left: 0;
border: 1px solid #e1d8d891;
}
.single-input-field textarea {
background: #f9f9f9 none repeat scroll 0 0;
border: 1px solid #f9f9f9;
width: 100%;
height: 120px;
padding: 12px 16px;
border-radius: 4px;
}
.single-input-fieldsbtn input[type="submit"] {
background:#0078D4 none repeat scroll 0 0;
color: #fff;
display: inline-block;
font-weight: 600;
padding: 10px 0;
text-transform: capitalize;
width: 150px;
margin-top: 20px;
font-size: 16px;
}
.single-input-fieldsbtn input[type="submit"]:hover{
    background:#6CAAA8;
    transition: all 0.4s ease-in-out 0s;
    border-color:#6CAAA8}
.single-input-field  h4 {
color: #464646;
text-transform: capitalize;
font-size: 14px;
}
.contact-page-form {
display: inline-block;
width: 100%;
margin-top: 30px;
}

.contact-page-map {
margin-top: 36px;
}
.contact-page-form form {
padding: 20px 15px 0;
}


.pa-contact-form {
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 7%);
    padding: 19px;
    border-radius: 10px;
    transform: translate(-18px, 39px);
    z-index: 1;
    position: relative;
    background: #fff;
}
.pa-cmnt-form input, .pa-cmnt-form textarea, .pa-contact-form input, .pa-contact-form textarea {
    margin-bottom: 15px;
}
.pa-contact-form input {
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    border: 1px solid #6caaa8;
    outline: none;
    border-radius: 50px;
}
.pa-cmnt-form textarea, .pa-contact-form textarea {
    width: 100%;
    height: 200px;
    padding: 10px 20px;
    border: 1px solid #6caaa8;
    outline: none;
    border-radius: 10px;
    resize: none;
}
.pa-btn {
    background: #6caaa8;
    color: #fff;
    padding: 0px 20px;
    min-width: 160px;
    height: 50px;
    line-height: 46px;
    border: none;
    border-radius: 50px;
    text-transform: capitalize;
    outline: none;
    text-align: center;
    cursor: pointer;
    border: 2px solid #6caaa8;
    transition: 0.3s;
    display: inline-block;
}
.response {
    position: fixed;
    bottom: 45px;
    right: 40px;
    color: #f44336;
}
.pa-contact-form ,.contact-heading h5 {
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 20px;
    color: #6caaa8;
}