.cards-wrappers {
    display: flex;
    justify-content: center;
  }
 
  .cardp{
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  /* .carousel-inners {
    padding: 3em;
  } */
  .carousel-control-prevs,
  .carousel-control-nexts {
    background-color: #e2c1c1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  /* @media (min-width: 768px) {
    .cards img {
      height: 11em;
    }
  } */