.visiting{
    width: 100%;
}

.visiting td, .visiting th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .visiting  tr:nth-child(even){background-color: #f2f2f2;}
  
  .visiting tr:hover {background-color: #ddd;}
  
  .visiting  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #589a98;
    color: white;
  }